footer {
    width:100%;
    /*height: 15vw;*/
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    padding: 50px 0 25px 0;

    ul {
        margin:0;     
        padding:0;  

        li {
            list-style: none;
            padding: 5px 0;
            margin:0;
        }
    }

    a {
        text-decoration: none;
        color:$color-fond-clair;
        transition: font-weight 0.2s;

        &:hover {
            font-weight: bold;
        }
    }
}





@media screen and (max-height: 850px) {
    .footer {
        display: none;
    }
};

