form {
    display: flex;
    flex-direction: column;
    max-width:700px;
    width:100%;

    input, textarea {
        width:100%;
        margin: 5px 0;
        padding:10px;
    }

    button {
        align-self:flex-end;
        border:none;
        background-color: white;
        font-weight: bold;
        cursor:pointer;

        &:hover {
            color:gray;
            
        }
    }
}