
.articles {
    display:grid;
    max-width:1200px;
    width:100%;
    margin:20px auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    article {
        margin-top:-50px;
        margin-bottom:-50px;
        
        .price {
            width:100%;
            text-align: right;
            position:relative;
            top:50px;
            right: 25px;
            font-family: 'Maitree', serif;
            font-weight: bold;
        }

        img {
            max-width:380px;
            width:100%;
        }

        .hashtags {
            width:100%;
            position:relative;
            top:-50px;

            span {
                background-color: white;
                color:black;
                border-radius:5px;
                margin-left:10px;
                padding: 3px 8px;font-family: 'Maitree', serif;
                font-weight: bold;
            }
        }
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        gap:10px;
    }
}