
.articles {
    display:grid;
    //max-width:1200px;
    width:100%;
    margin:20px auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;

    article {

        position:relative;
        // margin-top:-50px;
        // margin-bottom:-50px;
        
        .price {
            width:100%;
            text-align: right;
            position:absolute;
            right:15px;
            font-family: 'Amiri', serif;
            font-weight: bold;
            font-size: 1vw;
        }

        img {
            max-width:380px;
            width:100%;
        }

        .hashtags {
            width:100%;
            position:absolute;
            bottom:0;

            span {
                background-color: white;
                color:$color-fond-clair;
                border-radius:5px;
                margin-left:10px;
                padding: 3px 8px;
                font-family: 'Maitree', serif;
                font-weight: bold;
                font-size: 1.1vw;                
            }
        }
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        gap:10px;
    }
}