
.articles {
    display:grid;
    width:100%;
    margin:20px auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;

    article {
        position:relative;
        margin:15px auto;
        //padding:25px;
        
        .price {
            width:100%;
            //text-align: right;
            //position:absolute;
            //right:30px;
            font-family: 'Amiri', serif;
            font-weight: bold;
            font-size: 1.2rem;
        }

        img {
            max-width:320px;
            width:100%;
            object-fit: cover;
        }

        .hashtags {
            width:100%;
            position:absolute;
            bottom:110px;

            span {
                background-color: white;
                color:$color-fond-clair;
                border-radius:5px;
                margin-left:10px;
                padding: 2px 6px;
                font-family: 'Maitree', serif;
                font-weight: bold;
                font-size: 0.8rem;                
            }
        }

        .tailor {
            font-weight: bold;
            margin:5px 0 -10px 0;
        }
    }

    @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        gap:10px;
    }
}