.banniere {
    width:100%;
    display:flex;
    background-color: #efefef;

    .fond {
        max-width:1200px;
        width:100%;
        margin:0 auto;
    }

    .fa-basket-shopping {
        position:absolute;
        top: 0; 
        right: 0;
        cursor: pointer;
        color:$color-fond-clair;  
        font-size:1.6vw;
        height:1.6vw;     
        transform: translate(-300%, 300%); 
    }

}