.banniere {
    width:100%;
    display:flex;
    background-color: #414246;

    .fond {
        //max-width:1200px;
        width:100%;
        margin:0 auto;
        height:15vw;
        object-fit: cover;
        object-position: 0 30%;
    }

    .fa-briefcase, .fa-bars {
        position:absolute;
        top: 0; 
        cursor: pointer;  
        color:$color-fond-fonce;   
        font-size:1.6vw;
        height:1.6vw;             
    }    

    .fa-briefcase {
        right: 0;
        cursor: pointer;    
        transform: translate(-150%, 150%); 
    }

    .fa-bars { 
        left: 0;  
        transform: translate(1vw, 2vw); 
        visibility:hidden;
        cursor: pointer;
    }

    @media screen and (max-width: 800px) {
        .fond {
            object-position: 0;
            margin:0;
        }

        .fa-bars { 
            visibility:visible;
        }
    }

    @media screen and (min-width: 800px) {
        .fa-bars { 
            visibility:hidden;
        }
    }
}