.wrapper {
    background-color: $color-sidebar;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    color: $color-fond-fonce;

    .close {
        display: none;
        width: 70%;
        font-size:2rem;
        cursor:pointer;
    }

    .sidebartitle {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        //align-items: center;

        h1 {
            padding: 0;
            margin: 20px 0 0 0;
            font-size: 5vw;
            text-overflow: none;
            text-align: left;
            font-weight: lighter;
        }
    
        h2 {
            margin: 0 0 40px 0;
            padding: 0;
            font-size: 2vw;
            font-weight: lighter;
        }    
    }

    .sidebarcentral {
        display: flex;
        flex-direction: column;
        //height: 40%;
        width: 70%;
        margin: 0 auto;
        color: $color-fond-fonce;

        ul {
            padding: 0;
            margin-bottom: 50px;
            a {
                text-decoration: none;
            }
        }
        li {
            list-style-type: none;
            padding: 0;
            margin-bottom: 15px;
            margin-top: 15px;
            font-size: 2vw;
            text-align: left;
            text-decoration: none;
            color: $color-fond-fonce;
        }

        .map-responsive {
            width: 100%;
            height: 100%;
        }
    }

    .social {
        width: 70%;
        margin: 20px auto 0 auto;
        //margin-top: 20px;
        display: flex;
        justify-content: space-between;

        i {
            font-size: 2.5vw;
        }

        a, a:hover {
            color: $color-fond-fonce;
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        height: 60%;
        width: 100%;
        position: fixed;
        top: 40%;
        bottom: 0;
        left: 0;
        border-radius: 20% 20% 0 0;
        justify-content: space-around;
        align-items: center;
        visibility:hidden;

        .close {
            display: flex;
            justify-content: right;
        }

        .sidebartitle {
            display:none;
        }

        .sidebarcentral ul li {
            font-size:1.5rem;
        }
        
        .social i {
            font-size:2rem;
        }
    }
}

@media screen and (min-width: 800px) {
    .wrapper {
        visibility:visible;
    }
}