.wrapper {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 100vw;
    width: 15vw;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        color: aliceblue;
        font-size: 2vw;
    }
    h1 {
        font-size: 3vw;
        margin: 0;
        padding: 0;
        color: aliceblue;
    }
}