.arrow_up {
    background-color: $color-fond-clair;
    color:$color-fond-fonce;
    position: fixed;
    text-align: center;
    font-size:0.7rem;
    height:2rem; 
    width:2rem;
    border-radius: 1rem;
    right:20px;
    bottom: 20px;
    cursor: pointer;

    &:visited {
        color:$color-fond-fonce;
    }
}



.submit {
    background-color: #1C212E;
    color: #fff;
    width: 230px;
    height: 50px;
    border: none;
    cursor: pointer;

    .submit:hover {
        background-color: #404a64;
    }
}