.produit {
    display: flex;
    text-align: center;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    
    margin: auto;

    .contenu-produit-droite {
        position: absolute;
    }
    .img-produit {
        
    }
}