.produit {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contenu-produit-droite {
        display: flex;
        flex-direction: ;
    }

    .img-produit {
        max-width: 230px;
    }
}